<div id="<%= dom_id grocery %>">
  <p>
    <strong>Name:</strong>
    <%= grocery.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= grocery.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= grocery.rating %>
  </p>

</div>
